# vim: ft=Dockerfile
ARG BUILDIMAGE
FROM ${BUILDIMAGE} as builder
FROM scratch
COPY --from=builder /etc/passwd /etc/passwd

# Copy ssl certificates for https calls
COPY --from=builder /etc/ssl/certs/ca-certificates.crt /etc/ssl/certs/

# Copy static exe
COPY --from=builder /go/bin/hc /app/hc
COPY --from=builder /build/main /app/

WORKDIR /app
USER app
HEALTHCHECK --interval=1s --timeout=1s --start-period=2s --retries=3 CMD [ "./hc" ]
ENTRYPOINT ["./main"]
